
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>
  <h1>TOPICER</h1>
  <p>
     TOPICERは大課題3のために作成されたアプリです。<br>
     <img src="<%= asset_path "images.jpg" %>" class="img-responsive center-block">
  </p>
<footer>
  <p>運営会社DIVE INTO CODE株式会社の課題</p>
</footer>
